* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* --------------------------- header start ---------------------------------------- */

header {
    position: fixed;
    display: flex;
    padding-left: 20vw;
    background: linear-gradient(to right, #7aced8, #326bb5);
    width: 100%;
    height: 2rem;
    align-items: center;
    gap: 10rem;
    z-index: 1;
    opacity: 0.9;
}

.telefon_number {
    color: white;
}

header a {
    color: white;
    text-decoration: none;
}

/* ---------------------------- header end ----------------------------------------- */

/* ---------------------------- main start ----------------------------------------- */

main {
    padding: 3rem 4rem;
}

.content-section {
    display: none;
}

.content-section.active {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.home_section, .about_me_section, .psychotherapie_section, .kontakt_section, .impressum_section {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.bold_text {
    font-weight: bold;
}

/*home start*/

.home_section img {
    height: 40vh;
    float: right;
    border-radius: 10px;
    margin-left: 4rem;
}

.home_section h1 {
    color: #153763;
    font-size: 3rem;
    margin: 12rem auto 6rem auto;
}

.home_section p {
    font-size: 1.4rem;
}

/*home end*/

/*about_me start*/

.about_me_section img {
    height: 40vh;
    float: left;
    border-radius: 10px;
    margin: auto 2rem 1rem auto;
}

.about_me_section h1 {
    margin: 2rem auto 1rem auto;
    color: #153763;
}

.about_me_section p {
    vertical-align: top; /* Aligns text to the top */
    font-size: 16px; /* Reset font size after parent's font-size: 0 */
}

.date {
    color: #326bb5;
    margin-top: 0.7rem;
}

/*about_me end*/

/*psychotherapie start*/

.psychotherapie_section {
    /* Ensure the container properly contains floats */
    overflow: auto;
}

.psychotherapie_section img {
    height: 40vh;
    margin: 2rem 4rem 2rem 1rem;
    float: left; /* Float image to left */
    border-radius: 10px;
}

.psychotherapie_section h1 {
    color: #153763;
    font-size: 2.3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.psychotherapie_section h3 {
    color: #153763;
    font-size: 1.7rem;
    margin-top: 1rem;
    margin-bottom: 0.7rem;
}

.psychotherapie_section h5 {
    color: #326bb5;
    font-size: 1.2rem;
    margin-top: 3rem;
}

.psychotherapie_section p {
    font-size: 1.3rem;
    /* Text will automatically flow around the image */
}

.psychotherapie_section li {
    margin-left: 21vw;
}

/*psychotherapie end*/


/* ----------------------------- main end ------------------------------------------ */

/* --------------------------- footer start ---------------------------------------- */

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3em;
    background: linear-gradient(to right, #7aced8, #326bb5);
    padding: 0 4rem;
    color: white;
    opacity: 0.9;
}

.sticky-menu ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
}

.sticky-menu li {
    display: inline-block;
    padding: 0 2vw;
}

.sticky-menu a {
    color: white;
    text-decoration: none;
}

/* ---------------------------- footer end ----------------------------------------- */



